body {
	background: url("images/bg1080.jpg") no-repeat center top fixed;
	background-size: cover;
	/*overflow: hidden;*/
}

@font-face {
	font-family: mexcellent3d;
	src: url("fonts/mexcellent3d.ttf");
}

@font-face {
	font-family: mexcellent;
	src: url("fonts/mexcellent.ttf");
}

.bitgames {
	color: #e6f700;
	font-family: mexcellent;
	font-size: 130px;
	text-align: center;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.48), 0 0 20px rgba(255, 255, 255, 0.46), 0 0 30px #e6f70075, 0 0 40px #e6f700, 0 0 70px #e6f700, 0 0 80px #e6f700, 0 0 100px #e6f700
}

/*
font-family: 'Jura', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Aldrich', sans-serif;
font-family: 'Share Tech Mono', monospace;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Righteous', cursive;
*/
