body {
	background: url("images/bgstretched.jpg") no-repeat center center fixed;
	background-size: contain;
}

@font-face {
	font-family: mexcellent3d;
	src: url("fonts/mexcellent3d.ttf");
}

@font-face {
	font-family: mexcellent;
	src: url("fonts/mexcellent.ttf");
}

.bitgames {
	color: #e6f700;
	font-family: mexcellent;
	font-size: 130px;
	text-align: center;
	/*position: absolute;*/
	/*right: 50%;*/
}

/*
font-family: 'Jura', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Aldrich', sans-serif;
font-family: 'Share Tech Mono', monospace;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Righteous', cursive;
*/
