body {
	background: url("images/bg1080.jpg") no-repeat center top fixed;
	background-size: cover;
	/*overflow: hidden;*/
}

@font-face {
	font-family: mexcellent3d;
	src: url("fonts/mexcellent3d.ttf");
}

@font-face {
	font-family: mexcellent;
	src: url("fonts/mexcellent.ttf");
}

.bitgames {
	color: #e6f700;
	font-family: mexcellent;
	font-size: 130px;
	text-align: center;
}

/*
font-family: 'Jura', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Aldrich', sans-serif;
font-family: 'Share Tech Mono', monospace;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Righteous', cursive;
*/
