#chatnamebtn {
	margin: 0;
	font-size: 20px;
}

#nameinput {
	width: 300px;
	margin: 0 auto;
	margin-top: 15px;
}

.name-modal {
	color: #00c2ff;
	background: #270e39 !important;
	font-family: "Jura", sans-serif;
	padding: 10px 24px 18px !important;
}

#chatbg {
	background-color: black;
	opacity: 0.8;
	margin: 0 auto;
	height: 400px;
	padding: 0px;
	padding-bottom: 5px;
	overflow: auto;
}

#messagebar {
	margin: 0 auto;
	padding: 0px;
}

#message {
	border-radius: 0px;
	opacity: 1;
}

.messagesend {
	margin: 0;
	font-size: 20px;
	border-radius: 0;
	opacity: 1;
}

.chatmsg {
	font-family: "Jura", sans-serif;
	text-align: justify;
	font-size: 140%;
	font-weight: 800;
	color: #00c2ff;
	margin-left: 10px;
	margin-right: 10px;
}

.servermsg {
	font-family: "Jura", sans-serif;
	text-align: justify;
	font-size: 140%;
	font-weight: 800;
	color: #00ff0a;
	margin-left: 10px;
	margin-right: 10px;
}

.servermsgred {
	font-family: "Jura", sans-serif;
	text-align: justify;
	font-size: 140%;
	font-weight: 800;
	color: red;
	margin-left: 10px;
	margin-right: 10px;
}

.fa {
	margin-right: 6px;
}

.form-control:focus {
	box-shadow: none;
}

.active {
	box-shadow: none !important;
}