.form-control {
	width: 60%;
}

.square {
	float: left;
	width: 70px;
	height: 70px;
	margin: 6px;
}

.grid {
	margin: 0 auto;
	background-color: #000000cf;
	height: 410px;
	width: 410px;
}

.btn {
	border-radius: 4px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#start {
	position: fixed;
}

.grey {
	background-color: grey
}

.green {
	background-color: green
}

#solutiongrid, #usergrid {
	display: none;
}

#memorytitle {
	color: #e6f700;
	font-family: mexcellent;
	font-size: 98px;
	text-align: center;
}

.modal-content {
	color: black;
}

.cyan {
	font-family: 'Jura', sans-serif;
	text-align: justify;
	font-size: 140%;
	font-weight: 800;
	color: #00c2ff;
}

#start, #submit {
	margin: 0 auto;
	background-color: #00c2ff;
	border: solid blue 2px;
}