.form-control {
	width: 60%;
}

.square {
	float: left;
	width: 70px;
	height: 70px;
	margin: 6px;
}

.grid {
	/*margin: 0 auto;*/
	background-color: #000000cf;
	height: 410px;
	width: 410px;
}

.btn {
	border-radius: 4px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#start {
	position: fixed;
}

.grey {
	background-color: grey
}

.green {
	background-color: #00c2ff
}

#solutiongrid, #usergrid {
	display: none;
}

.title {
	color: #e6f700;
	font-family: mexcellent;
	font-size: 98px;
	text-align: center;
}

.modal-content {
	color: #00c2ff;
	background-color: #270e39;
	font-family: 'Jura', sans-serif;
}

.cyan {
	font-family: 'Jura', sans-serif;
	text-align: justify;
	font-size: 140%;
	font-weight: 800;
	color: #00c2ff;
}

.btn {
	background-color: #00c2ff;
	border: solid grey 0px;
	font-family: 'Jura', sans-serif;
}

#start {
	margin-top: 12px;
	width: 8%;
}

.col-6, .col-3 {
	padding: 0px;
}

.col-md-auto {
	padding: 0px;
}

.table {
	background-color: #343a40db;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #00c2ff;
}