/*Grid Styling:*/
	.square {
		float: left;
		width: 70px;
		height: 70px;
		margin: 6px;
	}

	.grid {
		background-color: #000000cf;
		height: 410px;
		width: 410px;
	}

	.grey {
		background-color: #505050;
	}

	.green {
		background-color: #00c2ff;
	}

	#solutiongrid,
	#usergrid {
		display: none;
	}

/*Button Styling:*/

	.btn {
		border-radius: 4px;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.btn {
	background-color: #00c2ff;
	border: solid grey 0px;
	font-family: "Jura", sans-serif;
	}

	.homebtn {
		font-size: 150%;
	}

	#start {
		margin-top: 12px;
		width: 7%;
		position: fixed;
	}

	#submit {
		display: none;
	}

/*Text Styling: */

	.title {
		color: #e6f700;
		font-family: mexcellent;
		font-size: 98px;
		text-align: center;
	}

	.cyan {
		font-family: "Jura", sans-serif;
		text-align: justify;
		font-size: 140%;
		font-weight: 800;
		color: #00c2ff;
	}

	.form-control {
	width: 60%;
	}

	#leaveblank {
		font-size: 75%;
	}

	label {
		margin-bottom: 0px;
	}

/*Modal Styling: */

	.modal-content {
		color: #00c2ff;
		background-color: #270e39;
		font-family: "Jura", sans-serif;
	}

/*Column Styling: */

	.col-6,
	.col-3 {
		padding: 0px;
	}

	.col-md-auto {
		padding: 0px;
	}

/*Table Styling: */

	.table {
		background-color: #343a40db;
	}

	.table-dark td,
	.table-dark th,
	.table-dark thead th {
		border-color: #00c2ff;
	}
