body {
	margin-left: 10px;
}

.form-control {
	width: 20%;
}

.square {
	float: left;
	width: 100px;
	height: 100px;
	margin: 7.5px;
}

.grid {
	background-color: black;
	height: 585px;
	width: 585px;
	padding: 5px;
}

.btn {
	border-radius: 4px;
	margin-right: 10px;
}

.grey {
	background-color: grey
}

.green {
	background-color: green
}