#usergrid, #solutiongrid {
	background-color: black;
	height: 760px;
	width: 760px;
	padding: 5px;
}

#usergrid, #solution {
	/*display: none;*/
}

.square {
	float: left;
	width: 130px;
	height: 130px;
	margin: 10px;
}

.grey {
	background-color: grey
}

.green {
	background-color: green
}

button {
	padding: 13px 21px;
}
